[core]
	excludesfile = ~/.dotfiles/git/.gitignore_global

[user]
	email = abellec.22+github@gmail.com
	name = Axel Bellec

# Load work-specific config for Synapse repos
[includeIf "gitdir:~/synapse/"]
	path = ~/.dotfiles/git/.gitconfig-work

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
