[core]
	excludesfile = ~/.dotfiles/git/.gitignore_global
[user]
	email = axel@synapse-medicine.com
	name = Axel Bellec
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
